{% extends "aFirebaseOperator/base.html" %}
{% block content %}
    <h2 class="subtitle"> {{team.engName}} </h2>
        {% csrf_token %}<!-- セキュリティ用タグ、form追加時は書く -->
    <form action="." method="post">
        <div class="field">
            <div class="control">
                <button type="submit" name="run_script">メンバー情報を再取得</button>
                <button type="submit" name="calc">採点結果を計算</button>
            </div>
            <table border="1">
                <tr>
                    <th>選手名</th>
                    <th>背番号</th>
                    <th>ポジション</th>
                    <th>スタメン</th>
                    <th>サブ</th>
                    <th>採点</th>
                    <th>分散</th>
                    <th>標準偏差</th>
                    <th>最頻値</th>
                </tr>
                {% for member in players %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td align="right">{{ member.number }}</td>
                    <td align="center">{{ member.position }}</td>
                    <!-- TODO: スタメン11人サブ7人で指定してないと送信できないようにする -->
                    <td align="center"><label><input type="checkbox" name="starting_number" value={{member.pid}}></label></td>
                    <td align="center"><label><input type="checkbox" name="substitute_number" value={{member.pid}}></label></td>
                    <td align="center">{{member.point}}</td>
                    <td align="center">{{member.var}}</td>
                    <td align="center">{{member.sdev}}</td>
                    <td align="center">{{member.com}}</td>
                </tr>
                {% endfor %}
            </table>
            <!-- views.pyのdef receive_checkboxで受け取る -->
            <input type="submit" name="submit" value="送信">
        </div>
    </form>
{% endblock %}