<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sakuTech.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk tools:overrideLibrary="io.flutter.plugins.firebase.firestore" />

</manifest>